<!DOCTYPE html>
<html lang="en">
<head>
    <title>Books APP</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav class ="nav">
        <a href="/availablebooks" class="nav__link" data-link>View all Books</a>
        <a href="/search" class="nav__link" data-link>Search</a>
    </nav>
    
    <H1>Welcome, to the Book app</H1>
    <div class = "container mt-4">
        <form id="book-form">
            <div class="form-group">
                <label for="bookName"> Book Name</label>
                <input type="text" id = "bookName" class="form-control">
            </div>
            <div class="form-group">
                <label for="bookId"> Book Id</label>
                <input type="text" id = "bookId" class="form-control">
            </div>
            <div class="form-group">
                <label for="author"> Author Name</label>
                <input type="text" id = "author" class="form-control">
            </div>
            <div class="form-group">
                <label for="publisher"> Publisher Name</label>
                <input type="text" id = "publisher" class="form-control">
            </div>
            <div class="form-group">
                <label for="price"> Price</label>
                <input type="text" id = "price" class="form-control">
            </div>
            <input type="submit" value="Add book" class="btn btn-primary btn-block">
        </form>
    </div>
    <script src="/static/index.js" ></script>
</body>
</html>